<center>
    <h2>
    <%= link_to_unless_current "AskPeople", root_path%>
    </h2>
    <h3><%= link_to_unless_current "Inboxes", inboxes_path%></h3>
    <h3><%= link_to_unless_current "New inboxe", new_inbox_path%></h3>
</center>
<hr>
